#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.submitBtn {
  padding:5px;
  background-color: #263cca;
  border: 3px solid #df45cb;
  color:white;
  text-decoration:none;
}

.authBtn {
  border: 5px solid pink;
	padding: 1.5em 2.25em;
}

.username {
  color:purple;
}

h2 {
  size: 2em;
}